body
{
    background-color: rgb(11, 9, 9);
}

/*NAVBAR STYLING*/
.navbar
{
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    text-align: center; /*CENTER THE ENTIRE NAVBAR*/
}

/*NAVBARLINKS*/
.navbar ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar li
{
    display: inline;
    margin-right: 20px;
}

.navbar a
{
    text-decoration: none;
    color: black;
    transition: color 0.3s;
    border-radius: 10px;
    padding: 5px 10px;
}

/*HOVER EFFECT*/
.navbar a:hover
{
    background-color: black;
    color: white;
    font-weight: bold;
    font-family: 'Dancing Script', cursive;
    font-size: 13px;
}

/*CONTAINER FOR LEFT AND RIGFHT SIDES*/
.container
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

/*LEFT SIDE STYLING*/
.left-side
{
    flex: 1;
    text-align: center;
}

.left-side h1
{
    font-size: 100px;
    color: white;
    position: absolute;
    top: 500px;
    left: 50px;
}

.left-side h3
{
    font-size: 30px;
    color: white;
    position: absolute;
    top: 530px;
    left: 100px;
}

.left-side p
{
    font-size: 19px;
    color: white;
    font-family: 'Fira Code', cursive;
    position: absolute;
    top: 650px;
    left: 985px;
}

.about-container
{
    position: relative;
    right: 700px;
}

/*CUBE SECTION*/
.cube-linkedin,
.cube-github
{
    width: 200px;
    height: 200px;
    margin: 10px;
}

.cube-container a
{   
    font-size: 90px;
    color: white;
}

.cube-container .cube-linkedin
{
    position: absolute;
    bottom: 0;
    left: 220px;
}

.cube-linkedin img
{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.cube-container .cube-github
{
    position: absolute;
    bottom: 0;
    left: 0;
}

.cube-github img
{
    width: 100%;
    height: 100%;
    border: 2px;
    border-radius: 20px;
    object-fit: contain;
}

/*RIGHT SIDE STYLING*/
.right-side img
{
    /*max-width: 100%;
    border-radius: 10px;
    position: absolute;
    top: 200px;
    right: 20px;*/

    max-width: 100%;
    height: auto;
    border-radius: 10px;
    position: absolute;
    top: 200px;
    right: 20px;
}

/*MEDIA QUERYS*/
@media screen and (max-width: 2160px)
{
    .left-side h1
    {
        font-size: 80px;
        top: 100px;
        left: 180px;
    }

    .left-side h3
    {
        font-size: 25px;
        top: 210px;
        left: 300px;
    }

    .left-side p
    {
        top: 230px;
        left: 875px;
    }

    .about-container
    {
        right: 900px;
    }

    .right-side img
    {
        top: 350px;
        right: 200px;
        width:500px;
        height: auto;
    }
}

@media screen and (min-width: 2000px) 
{
    /* Adjust the elements for a screen width of 2000px */
    .left-side h1 {
        font-size: 150px;
        top: 600px;
        left: 100px;
    }

    .left-side h3 {
        font-size: 40px;
        top: 630px;
        left: 150px;
    }

    .left-side p {
        top: 750px;
        left: 1185px;
    }

    .about-container {
        right: 900px;
    }

    .cube-container .cube-linkedin {
        left: 320px;
    }
}

@media screen and (min-width: 1440px) 
{
    /* Adjust the elements for a screen width of 1080px */
    .left-side h1 {
        font-size: 70px;
        left: 10px;
        top: 440px;
    }

    .left-side h3 {
        font-size: 25px;
        top: 430px;
        left: 100px;
    }

    .left-side p {
        top: 550px;
        left: 485px;
    }

    .about-container {
        right: 500px;
    }

    .cube-container .cube-linkedin {
        left: 270px;
    }

    .right-side img {
        max-width: 50%;
        height: auto;
        right: 50px;
    }
}

@media screen and (max-width: 932px) 
{
    /* Adjustments for devices with screen width up to 932px */
    .left-side h1 
    {
        font-size: 200%; /* Adjust as needed */
        top: 50px;  /*Adjust as needed */
        left: 240px;  /*Adjust as needed */
    }

    .left-side h3 
    {
        display: none;
    }

    .left-side p 
    {
        display: none;
    }

    .right-side img 
    {
        max-width: 60%;
        height: auto;
        margin-right: 15%;
        left: 200px;
    }
}

@media screen and (max-width: 426px)
{
    .left-side h1
    {
        font-size: 150%;
        top: 70px;
        left: 70px;
    }

    .left-side p
    {
        display: none;
    }

    .right-side img
    {
        display: none;
    }
}