body
{
    background-color: rgb(11, 9, 9);
}

/*NAVBAR STYLING*/
.navbar
{
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    text-align: center; /*CENTER THE ENTIRE NAVBAR*/
}

/*NAVBARLINKS*/
.navbar ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar li
{
    display: inline;
    margin-right: 20px;
}

.navbar a
{
    text-decoration: none;
    color: black;
    transition: color 0.3s;
    border-radius: 10px;
    padding: 5px 10px;
}

/*HOVER EFFECT*/
.navbar a:hover
{
    background-color: black;
    color: white;
    font-weight: bold;
    font-family: 'Dancing Script', cursive;
    font-size: 13px;
}

/*WORK IN PROGRESS SECTION*/
.projects-container
{
    color: white;
    text-align: center;
}

/*2000px media query*/
@media (min-width: 2000px)
{
    .projects-container
    {
        font-size: 50px;
    }
}

/*1440px media query*/
@media (max-width: 1440px)
{
    .projects-container
    {
        font-size: 40px;
    }
}

/*932px media query*/
@media (max-width: 932px)
{
    .projects-container
    {
        font-size: 30px;
    }
}